@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&display=swap');

body {
   background: #e9f0ea;
}

.text {
   font-weight: bold;
   font-size: 22px;
   font-family: "Roboto";
}